<div id="wrapper">
    {{> client/header}}
    <main id="container" class="" style="">
        <div class="container single-page site-error" id="site-error">
            <div class="row"><br>
                <div class="list list-novel col-xs-12">
                    <div class="header-list">
                        <h2>Not Found (#404)</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 single-page-inner">
                            <div class="alert alert-danger"></div>
                            <p>
                                The above error occurred while the Web server was processing your request.
                            </p>
                            <p>
                                Please contact us if you think this is a server error. Thank you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> client/footer}}
</div>