<div id="wrapper">
    {{> client/header}}
    <main id="container" class="" style="">
        <div class="navbar-breadcrumb" style="display: block">
            <div class="container breadcrumb-container">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/"><span
                                class="glyphicon glyphicon-home"></span></a><a itemprop="item" href="/"
                            title="{{getDomainDesc}}"><span itemprop="name">Novel</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="active">
                        <h1><a itemprop="item" href="contact" title="Contact"><span itemprop="name">Contact</span></a>
                        </h1>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
        </div>
        <div class="container single-page" id="contact-container">
            <div class="row">
                <div class="list list-novel col-xs-12">
                    <div class="header-list">
                        <h2>Contact</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row single-page-inner">
                                <div class="col-md-8">
                                    <div class="alert alert-success hide single-page-status">Your message was sent
                                        successfully!
                                    </div>
                                    <div class="well well-sm">
                                        <form class="single-page-form" id="contact-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label for="contact-name">Name</label><input
                                                            type="text" class="form-control" id="contact-name"
                                                            placeholder="Your name" required="required"></div>
                                                    <div class="form-group"><label for="contact-email">Email</label>
                                                        <div class="input-group"><span class="input-group-addon"><span
                                                                    class="glyphicon glyphicon-envelope"></span></span><input
                                                                type="email" class="form-control" id="contact-email"
                                                                placeholder="Your email address"></div>
                                                    </div>
                                                    <div class="form-group"><label
                                                            for="contact-subject">Subject</label><select
                                                            id="contact-subject" name="subject" class="form-control"
                                                            required="required">
                                                            <option value="" selected="selected">Choose one</option>
                                                            <option value="Suggest">Suggest</option>
                                                            <option value="Report an error">Report an error</option>
                                                            <option value="Advertisement">Advertisement</option>
                                                            <option value="Other">Other</option>
                                                        </select></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"><label
                                                            for="contact-message">Message</label><textarea
                                                            name="message" id="contact-message" class="form-control"
                                                            rows="9" cols="25" required="required"
                                                            placeholder="Message"></textarea></div>
                                                </div>
                                                <div class="col-md-12"><button type="submit"
                                                        class="btn btn-primary pull-right">Send</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend><span class="glyphicon glyphicon-globe"></span>Contact info</legend>
                                        <div><strong>{{getDomainDesc}}</strong><br><strong>Email: </strong><a
                                                href="mailto:novelextra@outlook.com?Subject=[Web]%20Hello">novelextra@outlook.com</a><br><strong>Facebook:
                                            </strong><a href="https://www.facebook.com/novelextra"
                                                title="{{getDomainDesc}}'s facebook" target="_blank"
                                                rel="nofollow">https://www.facebook.com/novelextra</a></div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> client/footer}}
</div>
<script type="text/javascript">
    const ajaxContactUrl = '/ajax/send-mail';
    $('#contact-form').on('submit', function (e) {
        e.preventDefault();
        const data = {
            name: $("#contact-name").val(),
            email: $("#contact-email").val(),
            subject: $("#contact-subject").val(),
            message: $("#contact-message").val(),
            _csrf: csrf,
        };
        $.ajax({
            type: "POST",
            url: ajaxContactUrl,
            data: data,
            success: function () {
                $('.single-page-status').removeClass('hide');
                $('#contact-form')[0].reset();
            }
        });
        return false;
    });
</script>