


<div id="wrapper">
    {{> client/header}}
    <main id="container" class="" style="">
        <div class="navbar-breadcrumb" style="display: block">
            <div class="container breadcrumb-container">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/"><span
                                class="glyphicon glyphicon-home"></span></a><a itemprop="item" href="/"
                            title="{{getDomainDesc}}"><span itemprop="name">Novel</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="active">
                        <h1><a itemprop="item" href="tos" title="Privacy &amp; Terms of use"><span
                                    itemprop="name">Privacy &amp; Terms of use</span></a></h1>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
        </div>
        <div class="container single-page" id="tos">
            <div class="row">
                <div class="list list-novel col-xs-12">
                    <div class="header-list">
                        <h2>Privacy &amp; Terms of use</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 content">
                            <h3>Terms of service</h3>
                            <p>All the contents on our website (Content) are collected from the public sources on the
                                Intenret
                                and are free to read by all members and visitos. If you want to use the Content, please
                                provide
                                a source link (Collected by) to us in your content. If you want to use the Content for
                                business
                                purposes, please do research about the original copyright of the Content. The copyright
                                violation in any form will be fully responsible.</p>
                            <h3>Privacy policy</h3>
                            <p>Like most website operators, website Read Novel Full collects
                                non-personally-identifying information of the sort that web browsers and servers
                                typically make
                                available, such as the browser type, language preference, referring site, the choice
                                visitor
                                made on Read Novel Full and the date and time of each visitor request. From time to
                                time, Read Novel Full
                                may release non-personally-identifying information in the aggregate, e.g. by publishing
                                a report
                                on trends in the usage of its website.</p>
                            <h3>External links</h3>
                            <p>Although this website only looks to include quality, safe and relevant external links
                                users
                                should always adopt a policy of caution before clicking any external web links mentioned
                                throughout this website. The owners of this website cannot guarantee or verify the
                                contents of
                                any externally linked website despite their best efforts. Users should therefore note
                                they click
                                on external links at their own risk and this website and it's owners cannot be held
                                liable for
                                any damages or implications caused by visiting any external links mentioned.</p>
                            <h3>DMCA Compliance</h3>
                            <p>We want to ensure that the content that we host can be re-used by other users without
                                fear of
                                liability and that it is not infringing the proprietary rights of others. However, we
                                also
                                recognize that not every takedown notice is valid or in good faith. For more information
                                on what
                                to do if you think a DMCA notice has been improperly filed, you may wish to consult the
                                Chilling
                                Effects website. If you are the owner of content that is being improperly used without
                                your
                                permission, you may request that the content be removed under the DMCA. To make such a
                                request,
                                please contact us via our email address <a class="text-primary"
                                    href="mailto:novelextra6@outlock.com">novelextra6@outlock.com</a>.
                                Before filing a DMCA claim, you also have the option of sending a notice via our email
                                address
                                <a class="text-primary"
                                    href="mailto:novelextra6@outlock.com">novelextra6@outlock.com</a>.
                                Content including text and images is based on the contribution of each member website.
                                Website
                                owner is not responsible for content posted by members.
                            </p>
                            <h3>Cookies &amp; 3rd Party Advertisements</h3>
                            <p>Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of
                                the DART
                                cookie enables it to serve ads to your users based on their visit to your sites and
                                other sites
                                on the Internet. Users may opt out of the use of the DART cookie by visiting the Google
                                ad and
                                content network privacy policy.</p>
                            <p>We allow third-party companies to serve ads and/or collect certain anonymous information
                                when you
                                visit our web site. These companies may use non-personally identifiable information
                                (e.g., click
                                stream information, browser type, time and date, subject of advertisements clicked or
                                scrolled
                                over) during your visits to this and other Web sites in order to provide advertisements
                                about
                                goods and services likely to be of greater interest to you. These companies typically
                                use a
                                cookie or third party web beacon to collect this information. To learn more about this
                                behavioral advertising practice or to opt-out of this type of advertising, you can visit
                                http://www.networkadvertising.org/managing/opt_out.asp.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 {{> client/footer}}
</div>